
<div class="auth-container">
  <mat-card class="auth-card">
    <h2>Sign-Up</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        @if(signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched){
        <mat-error>
          Error: name is required
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
        
        @if(signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched){

        <mat-error>
          Error: Not valid Email
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        @if(signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched){
        <mat-error>
          Error: password is required
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="admin">מנהל</mat-option>
          <mat-option value="teacher">מורה</mat-option>
          <mat-option value="student">תלמיד</mat-option>
        </mat-select>
        @if(signUpForm.get('role')?.invalid && signUpForm.get('role')?.touched){
        <mat-error>
          Error: role is required
        </mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
  </mat-card>
</div>