

<mat-toolbar color="primary" class="nav-container">
  <nav class="nav-links">
    <a mat-button routerLink="/auth" routerLinkActive="active">👆 login/signUp </a>
    <a mat-button routerLink="/home" routerLinkActive="active">🏠 Home</a>
    <a mat-button routerLink="/list" routerLinkActive="active">📚 Course List</a>
    <a mat-button routerLink="/teacher" routerLinkActive="active">👩‍🏫 Teachers</a>
    <a mat-button routerLink="/CourseSyllabus" routerLinkActive="active">📖 Course Syllabus</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>


