<!-- <nav>

  <a routerLink="/home" routerLinkActive="active" >    to home page ->   </a>
  <a routerLink="/list" routerLinkActive="active" >    to the course list->   </a>
  <a routerLink="/teacher" routerLinkActive="active" >    for teachers only->   </a>
  <a routerLink="/CourseSyllabus" routerLinkActive="active" >    to Courses Syllabus   </a>
  
  
</nav>
<router-outlet></router-outlet> -->



<mat-toolbar color="primary" class="nav-container">
  <nav class="nav-links">
    <a mat-button routerLink="/auth" routerLinkActive="active">🏠 login/signUp </a>
    <a mat-button routerLink="/home" routerLinkActive="active">🏠 Home</a>
    <a mat-button routerLink="/list" routerLinkActive="active">📚 Course List</a>
    <a mat-button routerLink="/teacher" routerLinkActive="active">👩‍🏫 Teachers</a>
    <a mat-button routerLink="/CourseSyllabus" routerLinkActive="active">📖 Course Syllabus</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>


