.nav-container {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
  }
  .active{
    border: 1px solid rgb(14, 13, 13);

  }
