/* .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .user-card {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
 
  
  .courses-list {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .course-card {
    padding: 15px;
  }
  
  .home-container {
    position: relative;
    padding: 20px;
  }
  
  .user-info {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }
  
  .user-card {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3f51b5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 10px;
  } */

/* 
  .home-container {
    position: relative;
    padding: 20px;
    justify-content: flex-end;


  }
  
  .user-info {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
  }
  
  .user-card {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f8f9fa;

  }
  
  .user-name {
    font-weight: bold;
    margin-right: 8px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ec93e3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 10px; 
    margin-top: 5px;
  }
  
  .courses-list {
    margin-top: 100px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  } */


/* ............................... */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #e58fe3, #e75bbd);
  padding: 20px;
}

.about-card {
  max-width: 700px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
  text-align: center;
}

mat-card-title {
  font-size: 26px;
  font-weight: bold;
  color: #1976d2;
}

mat-card-content {
  font-size: 16px;
  color: #424242;
  line-height: 1.6;
}

h3 {
  color: #1565c0;
  margin-top: 20px;
}

.bottom-text {
  font-weight: bold;
  color: #1e88e5;
  margin-top: 20px;
}
