
<h2>  Courses List</h2>

<mat-card  class="course-card">



<mat-accordion>
    @for (course of list; track course.id) {
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="coursebutton">
      <button mat-raised-button color="accent" class="btn" (click)="JoinCourse(course.id)">
        Join Course
      </button>
      <button mat-raised-button color="accent" class="btn" (click)="LeaveCourse(course.id)">
        Leave Course
      </button>

          <mat-panel-title>
            {{ course.title }}
          </mat-panel-title>
        </div>

        </mat-expansion-panel-header>
        <h4> course description: </h4>
        <p>{{ course.description }}</p>
      </mat-expansion-panel>
    }
  </mat-accordion>

</mat-card>
