.coursebutton{
    margin: 15px;
    display:flex;
    justify-content: space-between;
  align-items: center;
  width: 100%;

}
.btn {
    background: linear-gradient(135deg, #f5b6e7, #e8c1e4);
    color: white;
    font-weight: bold;
    padding: 7px 10px;
    margin-right: 50px;
    border-radius: 25px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .btn:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  