
<h2>  Courses List</h2>

<mat-card  class="course-card">


<!--להוסיף כפתור של הצטרפות או עזיבה ופונקציות מתאימות
-->
<mat-accordion>
    @for (course of list; track course.id) {
      <!-- <button mat-raised-button color="primary" (click)="JoinCourse(course.id)">Join Course</button> -->
      <!-- <button mat-raised-button color="accent" class="btn" (click)="JoinCourse(course.id)">
        Join Course
      </button> -->
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="coursebutton">
      <button mat-raised-button color="accent" class="btn" (click)="JoinCourse(course.id)">
        Join Course
      </button>

          <mat-panel-title>
            {{ course.title }}
          </mat-panel-title>
        </div>

        </mat-expansion-panel-header>
        <h4> course description: </h4>
        <p>{{ course.description }}</p>
      </mat-expansion-panel>
    }
  </mat-accordion>

</mat-card>
